@model Cliente

@{
    ViewData["Title"] = "CadastroCliente";
}

<main role="main">

    <form asp-controller="Home" asp-action="CadastroCliente" method="Post">

        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6">
                    <h3 class="subtitle-doc">
                        Cadastro de Cliente
                    </h3>
                    <div id="code_register_1">
                        <div class="card">
                            <header class="card-header">
                                <a asp-controller="Home" asp-action="Login" class="float-right btn btn-outline-primary mt-1">Realizar Login</a>
                                <h4 class="card-title mt-2">Cadastro</h4>
                            </header>
                            <article class="card-body">

                                @if (TempData["MSG_SUCESSO"] != null)
                                {
                                    <p class="alert alert-success">@TempData["MSG_SUCESSO"]</p>
                                }
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label asp-for="Nome"></label>
                                        <input type="text" asp-for="Nome" class="form-control" placeholder="">
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <label asp-for="Nascimento"></label>
                                        <input type="text" asp-for="Nascimento" class="form-control" placeholder="">
                                        <span asp-validation-for="Nascimento" class="text-danger"></span>
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row end.// -->
                                <div class="form-group">
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Sexo" value="M">
                                        <span class="form-check-label"> Masculino</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Sexo" value="F2">
                                        <span class="form-check-label"> Feminino</span>
                                    </label>
                                    <br/>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Cpf"></label>
                                    <input type="text" asp-for="Cpf" class="form-control" placeholder="">
                                    <span asp-validation-for="Cpf" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Telefone"></label>
                                    <input type="text" asp-for="Telefone" asp- class="form-control" placeholder="">
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <small class="form-text text-muted">
                                        Nós nunca compartilharemos seu endereço de e-mail com mais ninguém.
                                    </small>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <label asp-for="Senha"></label>
                                    <input type="password" asp-for="Senha" class="form-control">
                                    <span asp-validation-for="Senha" class="text-danger"></span>
                                </div> <!-- form-group end.// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                                </div> <!-- form-group// -->
                                <small class="text-muted">
                                    Ao clicar no botão 'Cadastrar', você confirma que aceita <br>
                                    nossos Termos de Uso e Política de Privacidade.
                                </small>

                            </article> <!-- card-body end .// -->
                            <div class="border-top card-body text-center">Já tem uma conta? <a asp-controller="Home" asp-action="Login">Realizar Login</a></div>
                        </div> <!-- card.// -->

                    </div> <!-- code-wrap.// -->
                </aside>
            </div>
        </section>

    </form>

</main>
